.App {
  text-align: center;
}


.App-header {
  background-color: transparent;
  height: 150px;
  padding: 20px;
  color: white;
  text-shadow: 2px 2px black;
 
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.card {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
