body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}

.card {
  background-color: transparent,
}

body, html {
  height: 100%;
  }
  /* .bg {
  height: auto;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position-x: center;
 
  } */

 
